{% include 'index/base.html' %}
{% load static %}

{% block content %}
  <main class="w-full h-screen flex justify-center items-center">
    <div class="text-center">
      <p class="text-6xl font-bold flex justify-center items-center gap-2">
        <span class="block animated scale-110 rotate-12">4</span>
        <span class="block animated scale-125 rotate-3">0</span>
        <span class="block animated scale-110 -rotate-6">4</span>
      </p>
      <h2 class="font-medium text-xl mt-2">Страница не найдена</h2>
    </div>
  </main>
{% endblock %}