{% extends 'index/base.html' %}
{% load static humanize %}

{% block head %}
  <title>Webository Study</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js" integrity="sha512-aNMyYYxdIxIaot0Y1/PLuEu3eipGCmsEUBrUq+7aVyPGMFH8z0eTP0tkqAvv34fzN6z+201d3T8HPb1svWSKHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="{% static 'index/index.js' %}"></script>
{% endblock %}

{% block content %}
<body class="dark:bg-neutral-900 dark:text-white">
  <main>
    {% include 'components/header.html' %}

    <section class="mt-10 max-w-[840px] m-auto px-5 animated">
      <div class="flex flex-col md:flex-row gap-3 md:gap-14 justify-between items-start">
        <div class="text-neutral-500">
          <p class="text-lg md:text-base text-neutral-800 dark:text-neutral-300">Лабораторные работы</p>
          <ul class="mt-1 flex flex-wrap gap-x-1 gap-y-1.5">
            {% for subject in subjects %}
              {% include 'components/items/subject.html' with subject=subject %}
            {% endfor %}
          </ul>
        </div>
        <div class="w-full max-w-[530px]">
          <p class="text-neutral-500 dark:text-neutral-300 mb-5">Здесь собраны все лабораторные работы по предметам МДК 05.02 и 05.03 и другие, если нужной лабораторной работы здесь нет напиши преподавателю</p>
          <ul class="flex flex-col gap-5">
            {% for laboratory in laboratories %}
              {% include 'components/items/laboratory.html' with laboratory=laboratory %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    <section class="mt-10 max-w-[840px] m-auto px-5 animated">
      <div class="flex flex-col md:flex-row gap-3 md:gap-14 justify-between items-start">
        <div class="text-neutral-500">
          <p class="text-lg md:text-base text-neutral-800 dark:text-neutral-300">Самостоятельные работы</p>
          <ul class="mt-1 flex flex-wrap gap-x-1 gap-y-1.5">
            {% for subject in subjects %}
              {% include 'components/items/subject.html' with subject=subject %}
            {% endfor %}
          </ul>

          {% if not laboratories %}
            <p class="text-neutral-500">Лабораторных работ нет</p>
          {% endif %}
        </div>

        <div class="w-full max-w-[530px]">
          <p class="text-neutral-500 dark:text-neutral-300 mb-5">Здесь собраны все самостоятельные работы по предметам МДК 05.02 и 05.03 и другие, если нужной лабораторной работы здесь нет напиши преподавателю</p>
          <ul class="flex flex-col gap-5">
            {% for independent in independents %}
              {% include 'components/items/independent.html' with independent=independent %}
            {% endfor %}
          </ul>

          {% if not independents %}
            <p class="text-neutral-500">Самостоятельных работ нет</p>
          {% endif %}
        </div>
      </div>
    </section>

    <div class="hidden md:block mt-10 mb-10 bg-gradient-to-t dark:from-neutral-800 from-neutral-100 to-transparent h-20"></div>

    <section class="mt-20 max-w-[840px] m-auto px-5 md:mt-0 animated">
      <div class="flex items-center justify-between">
        <div>
          <h2 class="text-xl font-medium leading-6">Статьи</h2>
        </div>
        <div>
          <a class="py-2 px-5 transition-colors rounded-tl-full dark:bg-neutral-800 dark:hover:text-white hover:text-neutral-800 rounded-bl-full text-neutral-500 bg-neutral-100" href="#">Смотреть все</a>
        </div>
      </div>

      <ul class="mt-8 flex gap-y-8 gap-x-2 justify-between flex-wrap">
        {% for article in articles %}
          <li>
            <a href="/article/{{ article.id }}">
              <p class="font-medium line-clamp-1 leading-5">{{ article.title }}</p>
              <div class="mt-1">
                <p class="w-96 line-clamp-2 leading-5 text-sm text-neutral-500">{{ article.description }}</p>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section class="mt-14 max-w-[840px] m-auto px-5 animated">
      <div>
        <h2 class="text-xl font-medium leading-6">Полезные ссылки</h2>
      </div>

      <ul class="mt-4 flex flex-col gap-4">
        {% for link in links %}
          <li>
            <a target="_blank" class="flex gap-2 group" href="{{ link.source }}">
              <span class="block transition-all dark:group-hover:bg-white group-hover:my-0 group-hover:bg-neutral-700 my-1.5 rounded-full w-0.5 bg-neutral-400"></span>
              <div>
                <p>{{ link.name }}</p>
                <p class="text-sm text-neutral-500">{{ link.description }}</p>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>

    {% include 'components/footer.html' %}
  </main>
</body>
{% endblock content %}
