{% extends 'index/base.html' %}
{% load static tailwind_tags humanize %}

{% block head %}
  <title>Webository Study - {{ subject.name }}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js" integrity="sha512-aNMyYYxdIxIaot0Y1/PLuEu3eipGCmsEUBrUq+7aVyPGMFH8z0eTP0tkqAvv34fzN6z+201d3T8HPb1svWSKHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="{% static 'index/index.js' %}"></script>
{% endblock %}

{% block content %}
<body class="dark:bg-neutral-900 dark:text-white">
  <main>
    {% include 'components/header.html' %}

    <section class="mt-10 animated max-w-[840px] m-auto px-5">
      <div>
        <div>
          <a href="/" class="underline">Назад</a>
        </div>
        <div class="mt-3">
          <h2 class="text-xl font-medium">Лабораторные работы</h2>
          <p class="text-3xl font-medium">{{ subject.name }}</p>
        </div>
      </div>
    </section>

    <div class="hidden md:block mb-10 bg-gradient-to-t dark:from-neutral-800 from-neutral-100 to-transparent h-20"></div>

    <section class="animated max-w-[840px] m-auto px-5 mt-8">
      <ul class="flex flex-col gap-8">
        {% for laboratory in laboratories %}
          {% include 'components/items/laboratory.html' with laboratory=laboratory %}
        {% endfor %}
      </ul>
    </section>

    {% include 'components/footer.html' %}
  </main>
</body>
{% endblock %}