.markdown img {
    overflow: clip;
    border-radius: 5px;
    margin: 15px 0;
}

.markdown h1 {
    font-size: 24px;
    font-weight: 600;
}

.markdown li {
    list-style: inside;
}

.markdown p {
    margin-bottom: 10px;
}